params {
    blast_lastest_dir = "/bnt/datashare/staging/databases/blast/latest"
    basedir = "/bnt/datashare/staging"
    publish_dir_mode = 'copy'
    repo_basedir = '/cvmfs/bio.data.computecanada.ca'
}


manifest {
    homePage = 'https://github.com/c3g/refbuilder'
    description = 'Workflow for building structured reference genomes and indices'
    mainScript = 'main.nf'
    version = '0.0.2'
}
