params {
    blast_lastest_dir = "/bnt/datashare/staging/databases/blast/latest"
    basedir = "/bnt/datashare/staging"
    publish_dir_mode = 'copy'
    cvmfs_root = '/cvmfs/bio.data.computecanada.ca/content/genomes/Core'
}


manifest {
    version = '0.0.2'
    defaultBranch = "main"
    homePage = 'https://github.com/c3g/refbuilder'
    description = 'Workflow for building structured reference genomes and indices'
    author = "Rob Syme <robert.syme@mcgill.ca>"
}
