help([==[

Description
===========
NCBI genome sequence and indices for ${params.species.replaceAll(/_/,' ')}.

Genome source: ${fasta_path}

Reproducibility
===============
This data was generated with command:

\$ ${workflow.commandLine - ~/-resume ?/ - ~/--basedir \S+ ?/}

Workflow name:     ${workflow.repository}
Workflow revision: ${workflow.revision}
Workflow commit:   ${workflow.commitId}
Workflow source:   ${workflow.manifest.homePage}/commit/${workflow.commitId}

Pipeline version:  ${workflow.manifest.version}
Pipeline author:   ${workflow.manifest.author}

]==])

whatis([ ==[ Description: NCBI databases for BLAST searches ]==])
whatis([ ==[ Assembly: ${params.assembly} ]==])
whatis([ ==[ Assembly type: ${params.analysis_set} ]==])
whatis([ ==[ Species: ${params.species.replaceAll(/_/,' ')} ]==])
whatis([ ==[ Genome source: ${fasta_path} ]==])
whatis([ ==[ Homepage: https://www.ncbi.nlm.nih.gov/genome/?term=${params.assembly} ]==])

setenv("BIOREPO_GENOMEBASE", "${root_path}")

if mode() == "load" then
io.stderr:write([==[
    BIOREPO_GENOMEBASE variable is set. Indices are available at \$BIOREPO_GENOMEBASE/indices]
==])
end
